.Footer {
  position: absolute;
  height: 180px;
  width: 100vw;
  background-color: snow;
  margin-top: 900px;
  border-top: 3px solid cornflowerblue;
  color: #00957d;
  text-align: center;
  display: flex;
  flex-direction: row;
    
  }

.Fis {
  margin-left: 10px;
}

.TymTag {
  position: absolute;
  font-weight: 600;
  font-size: 48px;
  margin-left: 70%;
  width: 320px;
  min-width: 320px;
  margin-right: 20px;
  margin-top: 35px;
}

.Ann {
  margin-top: 65px;
  margin-left: 3vw;
  width: 230px;
  min-width: 230px;
}