.Product {
    position: absolute;
    margin-top: 30vh;
    margin-left: 10vw;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.Product h2 {
    font-size: 32px;
    font-weight: 700;
    animation-duration: 2.5s;
    animation-name: slidein_fromleft;
}

.Product p {
    font-size: 24px;
    font-weight: 400;
    animation-duration: 2.5s;
    animation-name: slidein_fromright;
}

@keyframes slidein_fromleft {
    from {
        margin-left: 2vw;
    }

    to {
        margin-left: 0;
    }
}

@keyframes slidein_fromright {
    from {
        margin-left: -2vw;
    }

    to {
        margin-left: 0;
    }
}