.Pricing {
    position: absolute;
    width: 600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    margin-top: 25vh;
    margin-left: 10vh;
    border-radius: 15px;
    animation-duration: 2.5s;
    animation-name: slidein;
    
}

@keyframes slidein {
    from {
        margin-left: 5vh;
        margin-top: 30vh;
    }

    to {
        margin-left: 10vh;
        margin-top: 25vh;
    }
}