.DashboardBackground {
    position: absolute;
    width: 1206px;
    height: 700px;
    background-color: rgba(255, 250, 250, 0.9);
    margin-top: 10vh;
    margin: 5vw;
    color: black;
    border-radius: 15px;
    margin-bottom: 20vh;
    border: 2px solid #cecece;
    display: block;
    flex-direction: column;
    text-align: center;
    padding-left: 7px;
    
}

.DashboardBackground::-webkit-scrollbar {
    width: 3px;
    background-color: snow;
  }

.DashboardBackground::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.DashboardBackground::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
  }

.UserLog {
    position: absolute;
    font-size: 32px;
    color: cornflowerblue;
    margin-top: -8vh;
    height: 32px;
    background-color: rgba(255, 250, 250, 0.9);
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s all;

}

.ToDashboard {
    position: absolute;
    font-size: 28px;
    color: black;
    margin-top: -8vh;
    margin-left: 200px;
    height: 32px;
    background-color: rgb(251, 229, 201);
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s all;

}

.ToDashboard:active, .UserLog:active {
    background-color: snow;
    color: black;
}

.ToDashboard:hover, .UserLog:hover {
    cursor: pointer;
    color: snow;
    background-color: rgb(56, 83, 133);
}

.DashboardBackground:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
