.Profil {
    position: absolute;
    width: 900px;
    height: 700px;
    background-color: snow;
    margin-top: 10vh;
    margin-left: 10vw;
    color: black;
    border-radius: 15px;
    margin-bottom: 20vh;
    box-shadow: 1px 3px 1px 4px #cecece;
}