.Profil {
    position: absolute;
    width: 900px;
    height: 700px;
    background-color: snow;
    margin-top: 10vh;
    margin-left: 10vw;
    color: black;
    border-radius: 15px;
    margin-bottom: 20vh;
    box-shadow: 1px 3px 1px 4px #cecece;
}

.Addnew {
    position: absolute;
    font-size: 20px;
    background-color: cornflowerblue;
    margin-left: 38px;
    margin-top: 635px;
    width: 150px;
    height: 35px;
    color: snow;
}

.Addnew:active {
    background-color: snow;
    color: black;
}

.Placeholder {
    position: absolute;
    margin-left: 500px;
    margin-top: 300px;
}