.SetWindow {
    position: absolute;
    margin-left: 270px;
    margin-top: 35px;
    width: 600px;
    height: 90%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}

.SetWindow label {
    width: 450px;
    margin-top: 10px;
}

.SetWindow form {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    

}

.SetWindow input, select {
    margin-right: 100px;
    float: right;
    font-family: inherit;

}

.Immutable {
    cursor: not-allowed;
    background-color: #ccc;
}

.Launch, .Close {
    color: snow;
    font-size: 20px;
    width: 150px;
    height: 35px;
    transition: 0.3s all;
    
}

.Launch {
    margin-top: 50px;
    margin-left: 30%;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.Close {
    position: absolute;
    margin-left: 425px;
    margin-top: 20px;
    background-color: salmon;
    border-radius: 5px;
    
}

.Launch:active, .Close:active {
    background-color: snow;
    color: black;
}

.Launch:hover {
    cursor: pointer;
    background-color: rgb(56, 83, 133);
}

.Close:hover {
    cursor: pointer;
    background-color: sandybrown;
}