.singleTracker {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.singleTracker p {
    margin: auto;
    text-decoration: none;
}