.Trackers {
    position: absolute;
    width: 150px;
    height: 80%;
    border: 3px solid black;
    margin-top: 35px;
    margin-left: 35px;
    display: block;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}

.Refresh {
    font-size: 12px;
    text-decoration: underline;
}


.Refresh:hover {
    cursor: pointer;
}

.Trackers::-webkit-scrollbar {
    width: 10px;
    background-color: snow;
  }

.Trackers::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Trackers::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
  }

.RefreshAlert {
    position: relative;
    cursor: default;
    text-decoration: none;
    color: cornflowerblue;
    margin: 100px auto;
    font-size: 24px;
    font-weight: 600;
  }