.TrackerReview {
    position: absolute;
    margin-left: 270px;
    margin-top: 35px;
    width: 850px;
    height: 90%;
    border: 1px solid grey;
    box-shadow: 2px 2px 0 0 #cecece;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}

.TrackerReview label {
    width: 450px;
    margin-top: 10px;
}

.TrackerReview form {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    

}

.TrackerReview input {
    margin-right: 100px;
    float: right;
    font-family: inherit
}

.Immutable {
    cursor: not-allowed;
    background-color: #ccc;
}

.Delete, .Close {
    color: snow;
    font-size: 20px;
    width: 150px;
    height: 35px;
    transition: 0.3s all;
    border: none;
    
}

.Delete {
    margin-top: 50px;
    margin-left: 30%;
    background-color: red;
    border-radius: 5px;
}

.Close {
    position: absolute;
    margin-left: 678px;
    margin-top: 20px;
    background-color: #868686;
    border-radius: 5px;
}

.Delete:active, .Close:active {
    background-color: snow;
    color: black;
}

.Delete:hover {
    cursor: pointer;
    background-color: rgb(136, 0, 0);
}

.Close:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}