.Trackers {
    width: 150px;
    height: 90%;
    border: 3px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Trackers p {
    font-size: 12px;
    text-decoration: underline;
    margin: 0;
}

.Trackers p:hover {
    cursor: pointer;
}