.Footer {
  position: absolute;
  height: 180px;
  width: 100vw;
  background-color: snow;
  margin-top: 900px;
  border-top: 3px solid cornflowerblue;
  color: #00957d;
  text-align: center;
  display: flex;
  flex-direction: row;
    
  }

.Fis {
  margin-left: 10px;
}

.Footer h1 {
  font-weight: 600;
  font-size: 48px;
  margin-left: 37vw;
  width: 320px;
  margin-right: 20px;
}

.Footer p {
  margin-top: 80px;
  margin-left: 3vw;
}