body {
    color: snow;
}

.Logo {
    font-size: 44px;
    font-weight: 700;
}

.Navbar {
    margin-top: 35px;
    height: 56px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

}

div {
    display: flex;
}

.LeftPanel {
    width: 700px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.RightPanel {
    width: 320px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}